.main-box.ds-form(id="{$_name}" style="width:100%;")
	.row
		.xepan-push-large
		.col-xs-12.col-sm-12.col-md-4.form-group.atk-form-row.atk-form-field
			{$user}
		.col-xs-12.col-sm-12.col-md-4.form-group.atk-form-row.atk-form-field
			{$name}
		.col-xs-12.col-sm-12.col-md-4.form-group.atk-form-row.atk-form-field
			{$mobile}
	.row
		.col-xs-12.col-sm-12.col-md-3.form-group.atk-form-row.atk-form-field
			{$city}
		.col-xs-12.col-sm-12.col-md-3.form-group.atk-form-row.atk-form-field
			{$state}			
		.col-xs-12.col-sm-12.col-md-3.form-group.atk-form-row.atk-form-field
			{$from_date}
		.col-xs-12.col-sm-12.col-md-3.form-group.atk-form-row.atk-form-field
			{$to_date}
	{$Content}
	{$FormButtons}
	//- input.btn.btn-info.btn-block(type='submit', value='Register')