
<div id="{$_name}" style="width:100%;" class="main-box ds-form">
  <div class="row">
    <div class="xepan-push-large"></div>
    <div class="col-xs-12 col-sm-12 col-md-12 form-group atk-form-row atk-form-field">{$search}</div>
    <div class="xepan-push"></div>
    <div class="col-xs-4 col-sm-4 col-md-4 form-group atk-form-row atk-form-field">{$from_date}</div>
    <div class="col-xs-4 col-sm-4 col-md-4 form-group atk-form-row atk-form-field">{$to_date}
    </div>
  </div>
  <div class="row">		</div>{$FormButtons}
</div>