.main-box.ds-form(id="{$_name}" style="width:100%;")
	.row
		.xepan-push-large
		.col-xs-12.col-sm-12.col-md-12.form-group.atk-form-row.atk-form-field
			{$search}
		.xepan-push
			
		.col-xs-4.col-sm-4.col-md-4.form-group.atk-form-row.atk-form-field
			{$from_date}
		.col-xs-4.col-sm-4.col-md-4.form-group.atk-form-row.atk-form-field
			//- label Last Name
			{$to_date}
		//- .col-xs-4.col-sm-4.col-md-4.atk-form-row.atk-form-field.form-group
		//- 	label DOB
		//- 	{$dob}

	.row		
	{$FormButtons}
	//- input.btn.btn-info.btn-block(type='submit', value='Register')