
<div id="{$_name}" style="width:100%;" class="main-box ds-form">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 form-group atk-form-row atk-form-field">
      <label>Introducer</label>{$introducer_id}{$introducer}
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 form-group atk-form-row atk-form-field">
      <label>Side</label>{$side}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 form-group atk-form-row atk-form-field">
      <label>First Name</label>{$first_name}
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 form-group atk-form-row atk-form-field">
      <label>Last Name</label>{$last_name}
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 atk-form-row atk-form-field form-group">
      <label>DOB</label>{$dob}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 form-group atk-form-row atk-form-field">
      <label>Email id</label>{$email}
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 form-group atk-form-row atk-form-field">
      <label>Mobile No</label>{$mobile_number}
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 form-group atk-form-row atk-form-field">
      <label>PAN Number</label>{$pan_no}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 form-group atk-form-row atk-form-field">
          <label>Country</label>{$country_id}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 form-group atk-form-row atk-form-field">
          <label>State</label>{$state_id}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 form-group atk-form-row atk-form-field">
          <label>City</label>{$city}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 form-group atk-form-row atk-form-field">
          <label>Pincode</label>{$pin_code}
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 form-group atk-form-row atk-form-field">
      <label>Address</label>{$address}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 form-group atk-form-row atk-form-field">
      <label>User name</label>{$username}
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 form-group atk-form-row atk-form-field">
      <label>Password</label>{$password}
    </div>
  </div>
  <div class="row">		</div>{$FormButtons}
</div>