
<div class="xepan-contact-form">
  <form id="formid" action="#" style="">
    <div class="row">
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <div class="atk-form-row atk-form-field xepan-form-control">{$delivery_via}</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <div class="xepan-form-control atk-form-row atk-form-field">{$delivery_docket_no}</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <div class="xepan-form-control atk-form-row atk-form-field">{$tracking_code}</div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="xepan-form-control atk-form-field atk-form-row">{$payment_narration}</div>
    </div>
    <div class="text-center">{$FormButtons}</div>
  </form>
</div>