.dscard.card.card-stats(class="{$class} {$theme_class}" style="{$style}" )
	.card-header(class="{$theme_class}")
		i(class="{$icon}")
	.card-content
		p.category {$header}
		h3.title {$title}
	.card-footer
		hr
		.stats
		{$footer}