
<div id="{$_name}" style="{$style}" class="{$class} ds-distributor-navbar">
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand"><img src="websites/dsmarketing/www/img/logo.png"/></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling-->
      <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">{rows}{row}
          <li data-page="{$key}" class="{$active_menu}"><a href="{$key}">{$name}</a></li>{/}{/}
        </ul>
      </div>
    </div>
  </nav>{$Content}
</div>