.row
	.col-md-3 
		a(href='index.php?page=distributorreports&report=downline' class="{$downline_active}") Downline
	.col-md-3 
		a(href='index.php?page=distributorreports&report=intros-list' class="{$introduction_active}") Introductions
	//- .col-md-3 
	//- 	a(href='index.php?page=distributorreports&report=#abcd') XYZ
{$Content}