.row
	.col-md-3 
		a(href='index.php?page=distributorreports&report=downline') Downline	
	.col-md-3 
		a(href='index.php?page=distributorreports&report=intros-list') Introductions	
	.col-md-3 
		a(href='index.php?page=distributorreports&report=#abcd') XYZ
{$Content}