div(id='{$_name}' class="{$class}" style="{$style}")
	{generation_list}
	ul
		{rows}{row}
		li
			a(href="{$url}") {$user}
				i.fa.fa-user
			small {$name}
			div
				{$nested_generation}
		{/}{/}
	{/}