
<div id="{$_name}" style="{$style}" class="{$class} row">
  {$heading}
  {rows}{row}
  <div id="{$_id}" data-catid="{$id}" data-imgcount="{$images}" class="col-md-3 col-sm-12 col-lg-3 col-xs-12 mlm-gallery-category">
    <div class="thumbnail">{image_wrapper}
      <div style="height:150px;overflow:hidden;" class="img-wrapper"><img src="{$image}" alt="{$alt} we are uploading images ..." style="max-heigth:150px;max-width:100%;width:auto;"/></div>{/}
      <div class="caption">
        <h3>{$name}</h3>
        <p>Photos: {$images}</p>
        <div>{$description}</div>
      </div>
    </div>
  </div>{/}{/}
  {not_found}
  <div role="alert" class="full-width alert alert-warning"><strong class="glyphicon glyphicon-warning-sign">&nbsp;Warning!<span>&nbsp;{$not_found_message}</span></strong></div>{/}
  {paginator_wrapper}
  <div style="float:none; clear:both;text-align:center;" class="ds-kit-paginator">{$Paginator}</div>{/}
</div>