.tree.mlm-tree.main-box(id='{$_name}', class='{$class}', style='{$style}')
	| {$Content}
	| {Tree}
	| {/Tree}
	| {Parent}
	.atk-section.text-center
		.text-center.atk-swatch-blue.atk-box-small.text-left
			a(href='#xepan', onclick='{$MyURL}') My Tree
		.text-center.atk-swatch-blue.atk-box-small.text-right
			a(href='#xepan', onclick='{$ParentURL}') Go Up
	| {/Parent}
	| {Node}
	table(width="100%")
		tr
			td.text-center(colspan=2)
				i.fa.fa-user.fa-3x.main_div(style="width:100%" class='{$class}', title='{$title}')
				{username}Username Here{/username}
				.center-line
		tr
			td.text-center(width="50%")
				| {leftnode}
				a(href='#join', onclick='$.univ().frameURL("New Joining","index.php?page=xMLM_page_owner_xmlm_newjoining&sponsor_id={$sponsor_id}&Leg=A");')
					| Join Here
				| 			{/leftnode}
			td.text-center(width="50%")
				| {rightnode}
				a(href='#join', onclick='$.univ().frameURL("New Joining","index.php?page=xMLM_page_owner_xmlm_newjoining&sponsor_id={$sponsor_id}&Leg=B");')
					| Join Here
				| 			{/rightnode}
	| {/Node}

style.
	* {margin: 0; padding: 0;}

	.ds-distributor-body table tr > td, .atk-table table tr > td {
		border : 0px;
		padding: 0px;
	}

	.main-box table tbody tr {
		border-bottom: 0px;
		padding: 0px;
	}

	.center-line {
		width: 50%;
		height: 20px;
		margin: 0 auto 0 auto;
		border-top: 2px solid gray;
		border-left: 2px solid gray;
		border-right: 2px solid gray;
	}
	.tooltip-inner{
		background:white!important;
		color:black;
		border:1px solid gray;
		box-shadow:5px 5px 5px 10px rgba(0, 0, 0, 0.3);
	}

	.main-box{
		min-height:650px;
	}