
<div id="{$_name}" style="{$style}" class="tree mlm-tree main-box {$class}">
  {$Content}
  {Tree}
  {/Tree}
  {Parent}
  <div class="atk-section text-center">
    <div class="btn-group"><a href="#xepan" onclick="{$MyURL}" class="btn btn-success"><i class="fa fa-tree">&nbsp;My Tree</i></a><a href="#xepan" onclick="{$ParentURL}" class="btn btn-primary"><i class="fa fa-arrow-up">&nbsp;Go Up</i></a></div>
  </div>{/Parent}
  {Node}
  <table width="100%">
    <tr>
      <td colspan="2" class="text-center">
        <div style="width:100%" title="{$title}" class="fa-3x main_div {$class}"></div>{username}Username Here{/username}
        <div class="center-line"></div>
      </td>
    </tr>
    <tr>
      <td width="50%" class="text-center">{leftnode}<a href="#join" onclick="$.univ().frameURL(&quot;New Joining&quot;,&quot;index.php?page=xMLM_page_owner_xmlm_newjoining&amp;sponsor_id={$sponsor_id}&amp;Leg=A&quot;);">Join Here</a>			{/leftnode}</td>
      <td width="50%" class="text-center">{rightnode}<a href="#join" onclick="$.univ().frameURL(&quot;New Joining&quot;,&quot;index.php?page=xMLM_page_owner_xmlm_newjoining&amp;sponsor_id={$sponsor_id}&amp;Leg=B&quot;);">Join Here</a>			{/rightnode}</td>
    </tr>
  </table>{/Node}
</div>
<style>
  * {margin: 0; padding: 0;}
  
  .ds-distributor-body table tr > td, .atk-table table tr > td {
  	border : 0px;
  	padding: 0px;
  }
  
  .main-box table tbody tr {
  	border-bottom: 0px;
  	padding: 0px;
  }
  
  .center-line {
  	width: 50%;
  	height: 20px;
  	margin: 0 auto 0 auto;
  	border-top: 2px solid gray;
  	border-left: 2px solid gray;
  	border-right: 2px solid gray;
  }
  .tooltip-inner{
  	background:white!important;
  	color:black;
  	border:1px solid gray;
  	box-shadow:5px 5px 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  .main-box{
  	min-height:650px;
  }
</style>