<div id="{$_name}">
{$Content}
{Tree}
{/Tree}
{Parent}
<div class="atk-section text-center">
	<div class='text-center atk-swatch-blue atk-box-small text-left'><a href="#xepan" onclick="{$MyURL}">My Tree</a></div>
	<div class='text-center atk-swatch-blue atk-box-small text-right'><a href="#xepan" onclick="{$ParentURL}">Go Up</a></div>
</div>
{/Parent}
</div>
{Node}
	<div class="main_div text-center atk-size-giga {$class}" title="{$title}"><i class="fa fa-user"></i> {username}Username Here{/username}</div>
	<div><hr/></div>
	<div class="row">
		<div class="col-md-6 text-left">
			{leftnode}
				<a href='#join' onclick='$.univ().frameURL("New Joining","index.php?page=xMLM_page_owner_xmlm_newjoining&sponsor_id={$sponsor_id}&Leg=A");'>
				Join Here
				</a>
			{/leftnode}
		</div>
		<div class="col-md-6 text-right">
			{rightnode}
				<a href='#join' onclick='$.univ().frameURL("New Joining","index.php?page=xMLM_page_owner_xmlm_newjoining&sponsor_id={$sponsor_id}&Leg=B");'>
				Join Here
				</a>
			{/rightnode}
		</div>
	</div>
{/Node}
