
<div id="{$_name}" style="{$style}" class="{$class} row">{rows}{row}
  <div class="col-md-3 col-sm-12 col-lg-3 col-xs-12">
    <div class="thumbnail">{image_wrapper}<img src="{$kit_img}" alt="{$alt}" style="width:100%;"/>{/}
      <div class="caption">
        <h3>{$name}</h3>
        <p>{$description}</p>
        <div class="row">
          <div class="col-md-6 col-sm-12 col-lg-6 col-xs-12">
            <p class="lead">{$sale_price}</p>
          </div>
          <div class="col-md-6 col-sm-12 col-lg-6 col-xs-12">{purchase_btn_wrapper}
            <div data-xbikitid="{$id}" data-name="{$name}" class="xepan-commerce-item-purchase-button">{$purchase_btn}</div>{/}
          </div>
        </div>
      </div>
    </div>
  </div>{/}{/}
  {not_found}
  <div role="alert" class="full-width alert alert-warning"><strong class="glyphicon glyphicon-warning-sign">&nbsp;Warning!<span>&nbsp;{$not_found_message}</span></strong></div>{/}
  {paginator_wrapper}
  <div style="float:none; clear:both" class="xepan-commerce-item-paginator">{$Paginator}</div>{/}
</div>