
<div id="{$_name}" style="{$style}" class="{$class}">
  <div class="progress progress-striped">{profile_percentage_wrapper}
    <div style="width: {$profile_percentage};" aria-valuenow="{$profile_percentage}" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-success">{$profile_percentage}</div>{/}
  </div>{not_found}
  <div role="alert" class="alert alert-danger"><span aria-hidden="true" class="glyphicon glyphicon-exclamation-sign"></span><span class="sr-only">Error:&nbsp;</span>&nbsp;update your profile, 0% completed</div>{/}
  {$Content}
</div>