div(id="{$_name}" class="{$class}" style="{$style}")
	h3 Profile
	div.progress.progress-striped
		//- {kit_percentage_wrapper}
		//- div.progress-bar.progress-bar-danger(style="width: {$kit_percentage};")
		//- 	span.sr-only Junk Files ({$kit_percentage})
		//- {/}
		//- {kyc_percentage_wrapper}
		//- div.progress-bar.progress-bar-warning(style="width: {$kyc_percentage};")
		//- 	span.sr-only Residual Files ({$kyc_percentage})
		//- {/}
		{profile_percentage_wrapper}
		div.progress-bar.progress-bar-success(style="width: {$profile_percentage};" aria-valuenow="{$profile_percentage}" aria-valuemin="0" aria-valuemax="100")
			{$profile_percentage}
		{/}
	.row
		.col-md-4.col-sm-4.col-lg-4
			{$kit_info}
		.col-md-4.col-sm-4.col-lg-4
			{$kyc_info}
		.col-md-4.col-sm-4.col-lg-4
			{$verification_info}
	{not_found}
	div.alert.alert-danger(role="alert")
		span.glyphicon.glyphicon-exclamation-sign(aria-hidden="true")
		span.sr-only Error:&nbsp;
		| &nbsp;update your profile, 0% completed
	{/}
	{$Content}