div(id="{$_name}" class="{$class}" style="{$style}")
	div.project-box-content
		span.chart(data-percent="86" data-bar-color="#2ecc71")
			span.percent 86
				span.lbl completed
					canvas(height="130" width="130")
	{$Content}