<div id="{$_name}" class="{$class}" style="padding: 10px;text-align: justify; {$sytyle}">
	{$Content}
	<div style="margin: 0 auto; text-align: center;">
		<img src="shared/apps/xavoc/mlm/templates/img/logo.png">
	</div>
	<hr/>
	<p>Dear, </p>
	<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We congratulate you for becoming an independent distributor of DSGM INDIA PRIVATE LIMITED. We heartily welcome you in our family. We really appreciate your decision of choosing best business which can give you financial freedom with best lucrative pay plan. We have launched a unique concept to provide you a golden opportunity to prove yourself in competitive world.</p>
	<br/>	
	<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We once again congratulate and welcome you to the world of DSGM INDIA PRIVATE LIMITED and thank you for giving us an opportunity to make you more  healthy with quality products as well as more wealthy with unique compensation plan.</p>

	<br/>
	<p>Yours Sincerely,</p>
	<br/>
	<strong> DSGM INDIA PRIVATE LIMITED</strong>
	<p>201, 2nd Floor, Gokulam Arcade,<br/>
	Nr. Rise On Plaza, Sarthana Jakatnaka,<br/>
	Varachha Road, Surat-395006 Gujarat<br/>
	Customer Care : 0261-6599399<br/>
	info@dsgmindia.com  |  www.dsgmindia.com</p>
	
	<div>
		<br/>
		<p style="text-align: center;"><u>ACKNOWLEDGMENT</u></p>
		<p>Received with thanks from : XYZXYZXYZYXYXYXYXZYZXY<br/>
		DSGM ID No.	: DSGM123456789<br/>
		Joining Date	: 7/10/2017</p>

		<br/>
		<p>This email is intended for the use of DSGM INDIA PRIVATE LIMITED distributors and customers. If you have received this email in error please contact customer service:</p>
	</div>
	<div style="width:100%;">
		<div style="width: 48%;float:left; border: 1px solid #758B96;background-image: url(shared/apps/xavoc/mlm/templates/img/id-bg-map.jpeg);height: 360px; ">
			<img src="shared/apps/xavoc/mlm/templates/img/id-top-bar.png" style="height: 20px;width: 100%;" />
			<div style="padding-left:20px;">
				<table style="width:100%;">
					<tr valign="top">
						<td style="width:30%;">
							<img src="shared/apps/xavoc/mlm/templates/img/logo.png" style="width:100%;">
						</td>
						<td style="width: 70%;text-align: right;">
							<p style="text-align: right;"> 
								<span style="font-size: 18px;">
									<span style="color: #ff6600;">|&nbsp;</span> 
									<span style="color: rgb(0, 0, 0);">www.dsgmindia.com</span>
									<span style="color: rgb(255, 102, 0);">&nbsp;|</span> 
								</span>
							</p>
						</td>
					</tr>
				</table>
				<table style="width: 100%;height: 235px;">
					<tr valign="top">
						<td style="width: 30%;">
							<img src="shared/apps/xavoc/mlm/templates/img/logo.png" style="width:100%;height:200px;border: 2px solid #262A31;" />
						</td>
						<td style="width: 70%;">
							<table style="width:100%">
								<tr>
									<td colspan="2">
										<p>
											<span style="text-decoration: underline; font-size: 18px;">
												<strong>
													<span style="color: #14405E; text-decoration: underline;">
														<span style="color: #800000; text-decoration: underline;">I</span>NDEPENDENT 
														<span style="color: #800000; text-decoration: underline;">D</span>ISTRIBUTOR
													</span>
												</strong>
											</span>
										</p>
									</td>
								</tr>
								<tr>
									<td colspan="2"></td>
								</tr>
								<tr>
									<td>
										DSGM ID No.
									</td>
									<td>
										: {$id}
									</td>
								</tr>
								<tr>
									<td>
										Distributor Name
									</td>
									<td>
										: {$name}
									</td>
								</tr>
								<tr>
									<td>
										Activation Date
									</td>
									<td>
										: {$name}
									</td>
								</tr>
								<tr>
									<td>
										Mobile No.
									</td>
									<td>
										: {$name}
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</div>
			<img src="shared/apps/xavoc/mlm/templates/img/id-bottom-bar.png" style="height: 20px;width: 100%;" />
		</div>
		<div style="width: 1%;float: left;">&nbsp;</div>
		<div style="width: 48%;float:left;border: 1px solid #758B96;background-image: url(shared/apps/xavoc/mlm/templates/img/id-bg-map.jpeg);height: 360px; ">
			<img src="shared/apps/xavoc/mlm/templates/img/id-bottom-bar.png" style="height: 20px;width: 100%;" />
			<div style="padding-left:20px;padding-right:20px;">
				<p style="text-align: right;font-size: 8px;">This Id Card Dose Not Substitute Any Government Identification Document.</p>
				<div style="width: 100%;height: 50px; background-color: rgb(245, 245, 245); border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;">
				</div>
				<span>Authorize Signature</span>
				<p style="text-align: justify;font-size: 8px;">
					This card is the property of <strong>DSGM INDIA PVT. LTD.</strong> And may not be altered in any way. It is hereby certified that the individual whose photograph appears on the front is an independent distributor of <strong>DSGM INDIA PVT. LTD.</strong>
				</p>
				<p style="text-align: justify;font-size: 8px;">
					Validity DSGM Independent Distributor Number card is subject to continuity of distributorship. Use of the card as per the terms and conditions as given in company's website. We reserve rights to change terms &amp; conditions without prior notice.
				</p>
				<p style="font-size: 12px;text-align: center;">
					<strong>NON-TRANSFERABLE</strong>
				</p>
				<table style="width:100%;">
					<tr>
						<td style="width:43%">
							<p style="color: rgb(0, 51, 102); font-size: 10px;width: 100%;">
								If Found Please Return to,<br/>
								<span style="color: #003366;font-size: 14px;">
									<strong>DSGM INDIA PVT. LTD.</strong>
								</span><br/>
								<span style="color: rgb(0, 51, 102); font-size: 10px;">
									201, 2nd Floor, Gokulam Arcade, <br/>
									Nr. Rise On Plaza, Sarthana Jakatnaka,<br/>
	                    			Varachha Road, Surat-395006, Gujarat.
								</span>
							</p>
						</td>
						<td style="width: 2%;">			
						</td>
						<td style="width: 43%">
							<br/>
							<p style="font-size: 12px;">Customer Care : 0261-6599399<br/>
								<span style="font-size: 8px;">info@dsgmindia.com |&nbsp; www.dsgmindia.com</span>
							</p>
							<img src="shared/apps/xavoc/mlm/templates/img/barcode.png" style="width:100%;">
						</td>
					</tr>
				</table>
<!-- 				<table style="width:100%;">
					<tr valign="top">
						<td style="width:30%;">
							<img src="shared/apps/xavoc/mlm/templates/img/logo.png" style="width:100%;">
						</td>
						<td style="width: 70%;text-align: right;">
							<p style="text-align: right;"> 
								<span style="font-size: 18px;">
									<span style="color: #ff6600;">|&nbsp;</span> 
									<span style="color: rgb(0, 0, 0);">www.dsgmindia.com</span>
									<span style="color: rgb(255, 102, 0);">&nbsp;|</span> 
								</span>
							</p>
						</td>
					</tr>
				</table>
				<table style="width: 100%;">
					<tr valign="top">
						<td style="width: 30%;">
							<img src="shared/apps/xavoc/mlm/templates/img/logo.png" style="width:100%;height:200px;border: 2px solid #262A31;" />
						</td>
						<td style="width: 70%;">
							<table style="width:100%">
								<tr>
									<td colspan="2">
										<p>
											<span style="text-decoration: underline; font-size: 18px;">
												<strong>
													<span style="color: #14405E; text-decoration: underline;">
														<span style="color: #800000; text-decoration: underline;">I</span>NDEPENDENT 
														<span style="color: #800000; text-decoration: underline;">D</span>ISTRIBUTOR
													</span>
												</strong>
											</span>
										</p>
									</td>
								</tr>
								<tr>
									<td colspan="2"></td>
								</tr>
								<tr>
									<td>
										DSGM ID No.
									</td>
									<td>
										: {$id}
									</td>
								</tr>
								<tr>
									<td>
										Distributor Name
									</td>
									<td>
										: {$name}
									</td>
								</tr>
								<tr>
									<td>
										Activation Date
									</td>
									<td>
										: {$name}
									</td>
								</tr>
								<tr>
									<td>
										Mobile No.
									</td>
									<td>
										: {$name}
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table> -->
			</div>
			<img src="shared/apps/xavoc/mlm/templates/img/id-top-bar.png" style="height: 20px;width: 100%;" />
		</div>
	</div>

	<div style="clear: both;"></div>
	<br/>
	<div style="clear: both;margin: 0 auto; text-align: center;width: 100%;">
		<img src="shared/apps/xavoc/mlm/templates/img/old-icon-logo.png">
	</div>
</div>